* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: rgb(121, 49, 139);
    background: linear-gradient(0deg, rgba(121, 49, 139, 0.8240546218487395) 41%, rgba(94, 172, 41, 0.7596288515406162) 64%);
}

.app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-family: sans-serif;
}

.container-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.logo {
    height: 20em;
    padding-bottom: 2rem;
}

.container-main {
    text-align: center;
    margin: 0 auto;
    display: block;
}


.clickme {
    height: 15em;
    display: block;
    margin: 0 auto;
    padding: 2rem;
}